body{
    margin: 0%;
    background: rgba(0, 0, 0, 0.637) no-repeat fixed center;
    background-size: cover;
}

.container{
    margin:0;
    
}
#corner{
    background-color: rgba(255, 255, 255, 0.733);
    position: fixed;
    right: 1rem;
    top:0.95rem;
    width: 1.75rem;
    height: 1.75rem;
    /* width: 5rem;
    height: 5rem; */
    border-radius: 50%;
    transition: all ease-in-out;

    /* animation: bgChange 1.15s ease infinite; */
}
#corner:hover{
    cursor: pointer;
    width: 1.85rem;
    height: 1.85rem;
    right: 0.95rem;
    top:0.85rem;
    animation: bgChange 1s ease infinite;
}
#corner:hover .fa{
    font-size: 1.25rem;
    right: 0.2rem;
    top:0rem;
}
.fa{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
    position: fixed;
    right: 1.2rem;
    top:1rem;
    padding: 0.25rem;
    transition: all ease-in-out;
    animation: right 1.15s ease 3;
    /* border:2px solid red; */
    text-align: center;
    font-size: 1.15rem;
}
@keyframes right{
    0%{
        opacity:1;
        transform: translateX(0);
    }
    25%{
        opacity:0.75;
        transform: translateX(-1.5px);
    }
    50%{
        opacity:0.5;
        transform: translateX(-2.5px);
    }
    75%{
        opacity:0.25;
        transform: translateX(-3.5px);
    }
    100%{
        opacity:0.05;
        transform: translateX(-4.5px);
    }

}
@keyframes bgChange{
    0%{
        opacity:1;
        transform: scale(1);        
    }
    25%{
        opacity:0.95;
        transform: scale(1.05);       
    }
    50%{
        opacity:0.9;
        transform: scale(1.1);        
    }
     75%{
        opacity:0.85;
        transform: scale(1.15);       
    }
    100%{
        opacity:0.8;
        transform: scale(1.2);
        
       }

}
.about-bg{
    display: none;
    z-index: 999;
    position: absolute;
    top:2rem;
    right: 2rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.897);
    width:fit-content;
    /* margin:1rem; */
    padding:1rem;
}

#content{
    width:15rem;
    height: 20rem;
    overflow-y: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10rem 1rem 1rem 0rem;
    
}
#weather{
    position: relative;
    width: fit-content;
    margin: 10rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 1rem;
    padding: 2rem;
}
form>input{
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.157);
    padding:0.5rem 0 0.5rem 0.5rem;
    margin: 0.5rem;
    font-size: 0.75rem;
    color: rgb(255, 255, 255);
    outline-color:  rgba(255, 255, 255, 0.623);
    width:15rem;
    font-size: 1rem;
}
#submit{
    margin: 1rem auto;
    padding: 0.5rem;
    width: 12rem ;
    color:white;
    border: 3px solid white;
    border-radius: 5rem;
    background-color: transparent;

}
#displayData{
    color:white;
    text-align: center;
    display: none;
    grid-template-areas: "c c b"
                         "d e a"
                         "f g g"
                         "h h i"
                         "j j j";
    

    
}
#fail{
    color: white;
    text-align: center;
    display: none;    
}
.para {
    color:white;
    margin:0.5rem auto;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: fit-content;
    min-width:4rem;
    
    /* padding: 1rem; */
}
#ele1{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#ele2{
    width:4rem;
    height: 4rem;
    grid-area: b;
}
#ele3{
    grid-area:c;
}
#ele4{
    grid-area: d;
}
#ele5{
    grid-area: e;
}
#ele6{
    grid-area: f;
}
#ele7{
    grid-area: g;
}
#ele8{
    grid-area: h;
}
#ele9{
    grid-area: i;
}
#ele10{
    grid-area: j;
}